<!DOCTYPE html>
<html>
    <head>
        <link rel="Stylesheet" href="../styles/style2.css">
    </head>
    <body class="body">
        <div class="comp">
            <div class="nd">
                <p class="txt">Name Detail</p>
            </div><br>
            <div class="txxt">
                <div style="display: flex;align-items: center;justify-content: space-between;">
                    <label for="Name" >Name</label>
                    <label for="Name">:</label>
                    <input type="text" id="Name" name="Name" class="inpu"><br><br>
                </div>
                <div class="alig">
                    <label for="Design">Design</label>
                    <label for="Design">:</label>
                    <input type="text" id="Design" name="Design" class="inpu"><br><br>
                </div>
                <div class="alig">
                    <label for="Email">Email</label>
                    <label for="Email">:</label>
                    <input type="text" id="Email" name="Email" class="inpu"><br><br>
                </div>
                <div class="alig">
                    <label for="Ph">Ph</label>
                    <label for="Ph">:</label>
                    <input type="text" id="Ph" name="Ph" class="inpu"><br><br>
                </div>
            </div>
            <div class="background2025">
                <p style="color: white;font-size: 24px;">MK.</p>
            </div>
        </div>
    </body>
</html>