<!DOCTYPE html>
<!--#include virtual="../components/textinput.html"-->
<html>
    <head>
        <link rel="Stylesheet" href="../styles/update.css">
    </head>
    <body>
        <div class="container">
            <div class="resetheadingbox">
                <p class="resettext">Update Detail</p>
            </div>
            <iframe src="../components/textinput.html" style="overflow: hidden;height: 100px;border: 10;width: 480px;border: 0 solid;"></iframe>
            <button type="button" value="Update" class="updatebutton">Update</button>
        </div>
    </body>
</html>