<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css') }}">

    </head>
    <body>

    <form class="body" method="post">
        <div class="backgroundlogin">
            <h2 class="login">Login</h2>
        </div>
        <div class="up">
            <input type="text" id="Username" name="Username" placeholder="Username" class="textinput">
            <input type="text" id="Password" name="Password" placeholder="Password" class="textinput">
            <button type="submit">Login</button>
        </div>
        <div class="background2025">
            <h4 class="login">@2025</h4>
        </div>
    </form>
    <script src="{{ url_for('static', filename='javascripts/login.js') }}"></script>
    </body>
</html>