<!DOCTYPE html>
<html>
    <head>
        <link rel="Stylesheet" href="../static/styles/reset.css">
    </head>
    <body>
        <form class="container" method="post" action="/reset">
            <div class="resetheadingbox">
                <p class="resettext">Reset Password</p>
            </div>
            <div class="textcontainer">
                <input type="text" id="oldpassword" name="oldpassword" placeholder="Old Password" class="textinput"><br>
                <input type="text" id="newpassword" name="newpassword" placeholder="New Password" class="textinput">
            </div>
            <button type="submit" value="Update" class="updatebutton">Update</button>
        </form>
        <script src="../static/javascripts/reset.js"></script>
    </body>
</html>