.body {
  background-color: white;
}
.txt {
  color: white;
  font-size: 18px;
}
.comp {
  width: 250px;
  height: 560px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  box-shadow: 0 0 4px lightgray;
}
.nd {
  height: 50px;
  background-color: lightskyblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inpu {
  width: 50%;
  display: inline-block;
  border-width: 0;
  box-shadow: 0 0 4px lightgray;
}
.txxt {
  padding-left: 15px;
  width: 100%;
}
.background2025 {
  background-color: lightskyblue;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.alig {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}
